test/generalTest.json
[{"id":"f9b48a32.59f628","type":"tab","label":"CM Test","disabled":false,"info":""},{"id":"462838e8.20aaf8","type":"Get Connection","z":"f9b48a32.59f628","name":"","connection":"bc442b9a.f8d298","autoCommit":"no","x":280,"y":140,"wires":[["9d96963a.54d138"],["9faf66f9.58bf48"]]},{"id":"9faf66f9.58bf48","type":"debug","z":"f9b48a32.59f628","name":"err","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":80,"wires":[]},{"id":"f8e585d6.675848","type":"inject","z":"f9b48a32.59f628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["462838e8.20aaf8"]]},{"id":"9d96963a.54d138","type":"Release Connections","z":"f9b48a32.59f628","name":"","rollback":"no","x":540,"y":140,"wires":[["c2499215.9948d"],["f27c0efc.39cf4"]]},{"id":"98409ca5.5ce07","type":"Admin Connections","z":"f9b48a32.59f628","name":"","x":290,"y":20,"wires":[["fde9ee89.1403f"]]},{"id":"718c97e1.13bc18","type":"inject","z":"f9b48a32.59f628","name":"list","topic":"list","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":20,"wires":[["98409ca5.5ce07"]]},{"id":"fde9ee89.1403f","type":"debug","z":"f9b48a32.59f628","name":"admin msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":20,"wires":[]},{"id":"f27c0efc.39cf4","type":"debug","z":"f9b48a32.59f628","name":"err release","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":200,"wires":[]},{"id":"7e5ede70.0512d","type":"Get Connection","z":"f9b48a32.59f628","name":"get connection Monetdb","connection":"bc442b9a.f8d298","autoCommit":"yes","x":330,"y":280,"wires":[["f9f6ce41.e932f"],["9faf66f9.58bf48"]]},{"id":"4b641d65.93fb84","type":"inject","z":"f9b48a32.59f628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["7e5ede70.0512d"]]},{"id":"f9f6ce41.e932f","type":"cm-statement","z":"f9b48a32.59f628","name":"","connection":"","statement":"select * from tables","onErrorAction":"only","x":460,"y":200,"wires":[["9d96963a.54d138"],["9d96963a.54d138","29fde23f.1d0e9e"]]},{"id":"e666ada3.06374","type":"inject","z":"f9b48a32.59f628","name":"fail with no connection","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["f9f6ce41.e932f"]]},{"id":"c2499215.9948d","type":"debug","z":"f9b48a32.59f628","name":"msg 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":140,"wires":[]},{"id":"40f19aa.5b79e64","type":"Load Injector","z":"f9b48a32.59f628","name":"load test for 10 seconds","thinktimemin":"10","thinktimemax":"10","runtime":"10","payload":"","payloadType":"date","x":150,"y":360,"wires":[["7e5ede70.0512d"]]},{"id":"62cd8163.592da","type":"Get Connection","z":"f9b48a32.59f628","name":"get connection postgres","connection":"839a528e.ddd6e","autoCommit":"no","x":330,"y":420,"wires":[["6dc4c046.3204d"],["9d96963a.54d138"]]},{"id":"fe75408b.0f289","type":"inject","z":"f9b48a32.59f628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["62cd8163.592da"]]},{"id":"29fde23f.1d0e9e","type":"debug","z":"f9b48a32.59f628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":260,"wires":[]},{"id":"6dc4c046.3204d","type":"cm-statement","z":"f9b48a32.59f628","name":"","connection":"","statement":"select * from pg_tables","onErrorAction":"only","x":560,"y":360,"wires":[["9d96963a.54d138"],["9d96963a.54d138"]]},{"id":"8cc5dc14.e2913","type":"Load Injector","z":"f9b48a32.59f628","name":"load test for 10 seconds","thinktimemin":"10","thinktimemax":"10","runtime":"10","payload":"","payloadType":"date","x":150,"y":500,"wires":[["62cd8163.592da"]]},{"id":"bcc837e2.483108","type":"inject","z":"f9b48a32.59f628","name":"Release Stale","topic":"releasestale","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["98409ca5.5ce07"]]},{"id":"bc442b9a.f8d298","type":"Connection Manager","z":"","name":"demo","driver":"monetdb","host":"localhost","port":"50000","dbname":"demo","poolsize":"10"},{"id":"839a528e.ddd6e","type":"Connection Manager","z":"","name":"postgres","driver":"pg","host":"localhost","port":"5432","dbname":"postgres","poolsize":"10"}]